Repository Koena-SAS/connect-access: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint_and_unit_test, end_to_end, test_docs

lint_and_unit_test:
  services:
  - docker:dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_BUILDKIT: 1
    COMPOSE_DOCKER_CLI_BUILD: 1
  image: docker/compose:latest
  before_script:
  - docker info && docker-compose --version
  stage: lint_and_unit_test
  needs: []
  script:
  - cp -r .envs/local_template .envs/.local
  ...

end_to_end:
  services:
  - docker:dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_BUILDKIT: 1
    COMPOSE_DOCKER_CLI_BUILD: 1
  image: docker/compose:latest
  before_script:
  - docker info && docker-compose --version
  stage: end_to_end
  needs:
  - lint_and_unit_test
  script:
  - cp -r .envs/local_template .envs/.local
  ...

test_docs:
  stage: lint_and_unit_test
  image: node:16.13-bullseye
  script:
  - cd docs
  - yarn install
  - yarn lint
  - yarn type-check
  - yarn build --out-dir build2
  - diff -wbB -I '/assets/js/' build build2

doc: create introduction and architecture documentation pages
  docs/build/404.html
  docs/build/assets/js/0e384e19.c43e9e20.js
  docs/build/assets/js/0e384e19.e2e28802.js
  docs/build/assets/js/a1563d1f.71556564.js
  docs/build/assets/js/a1563d1f.df5aae0c.js
  docs/build/assets/js/e016f0aa.715e3597.js
  docs/build/assets/js/e016f0aa.d489509c.js
  docs/build/assets/js/e7c91ff5.31b2591f.js
  docs/build/assets/js/e7c91ff5.a1f8358b.js
  docs/build/assets/js/runtime~main.44ee2801.js
  docs/build/assets/js/runtime~main.e232bb9a.js
  docs/build/blog/archive/index.html
  docs/build/blog/first-blog-post/index.html
  docs/build/blog/index.html
  docs/build/blog/long-blog-post/index.html
  docs/build/blog/mdx-blog-post/index.html
  docs/build/blog/tags/docusaurus/index.html
  docs/build/blog/tags/facebook/index.html
  docs/build/blog/tags/hello/index.html
  docs/build/blog/tags/hola/index.html
  docs/build/blog/tags/index.html
  docs/build/blog/welcome/index.html
  docs/build/docs/developer-documentation/architecture/index.html
  docs/build/docs/developer-documentation/contributing/index.html
  docs/build/docs/developer-documentation/local-environment/index.html
  docs/build/docs/intro/index.html
  docs/build/docs/user-documentation/deployement/index.html
  docs/build/index.html
  docs/build/markdown-page/index.html
  docs/docs/developer-documentation/architecture.md
  docs/docs/developer-documentation/contributing.md
  docs/docs/developer-documentation/local-environment.md
  docs/docs/intro.md
Due: test_docs

doc: add user documentation about deployement and maintenance
  .envs/production_template/.django
  backend/config/settings/production.py
  docs/blog/2019-05-28-first-blog-post.md
  docs/blog/2019-05-29-long-blog-post.md
  docs/blog/2021-08-01-mdx-blog-post.mdx
  docs/blog/2021-08-26-welcome/docusaurus-plushie-banner.jpeg
  docs/blog/2021-08-26-welcome/index.md
  docs/blog/authors.yml
  docs/docs/developer-documentation/architecture.md
  docs/docs/developer-documentation/contributing.md
  docs/docs/developer-documentation/local-environment.mdx
  docs/docs/intro.md
  docs/docs/user-documentation/deployement.md
  docs/docs/user-documentation/deployement.mdx
  docs/docs/user-documentation/maintenance.mdx
  docs/docusaurus.config.js
  docs/src/css/custom.css
  docs/src/pages/index.tsx
  docs/src/pages/markdown-page.md
Due: lint_and_unit_test, end_to_end, test_docs

doc: add basic markdown files for the project, license and gitlab issue templates
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  .gitlab/issue_templates /bug.md
  .gitlab/issue_templates /doc.md
  .gitlab/issue_templates /feature.md
  CONTRIBUTING.md
  LICENSE
  README.md
  backend/README.md
  docs/README.md
  docs/docs/developer-documentation/contributing.md
  docs/docs/introduction.md
  docs/docusaurus.config.js
  docs/i18n/fr/code.json
  docs/i18n/fr/docusaurus-plugin-content-docs/current/developer-documentation/local-environment.mdx
  docs/i18n/fr/docusaurus-plugin-content-docs/current/introduction.md
  docs/i18n/fr/docusaurus-plugin-content-docs/current/user-documentation/deployement.mdx
  docs/i18n/fr/docusaurus-plugin-content-docs/current/user-documentation/maintenance.mdx
  docs/i18n/fr/docusaurus-theme-classic/footer.json
  docs/i18n/fr/docusaurus-theme-classic/navbar.json
  docs/src/pages/index.tsx
  frontend/README.md
Due: lint_and_unit_test, end_to_end, test_docs

maint: remove yarn install from local docker image, and enhance frontend unit tests' execution with jest timeout increased
  compose/local/django/Dockerfile
  compose/local/django/start
  docs/docs/introduction.md
  frontend/src/App.test.tsx
  frontend/src/admin/AllRequests.test.tsx
  frontend/src/admin/Main.test.tsx
  frontend/src/admin/requestDetail/RequestDetail.test.tsx
  frontend/src/admin/requestDetail/TraceReports.test.tsx
  frontend/src/customerLayout/Footer.test.tsx
  frontend/src/customerLayout/Main.test.tsx
  frontend/src/mediationForm/FormContainer.test.tsx
  frontend/src/setupTests.ts
  frontend/src/testUtils.ts
Due: lint_and_unit_test, end_to_end, test_docs

doc: translate local deployment documentation page to french and rename correctly .gitlab/issue_templates
  .gitlab/issue_templates/bug.md
  .gitlab/issue_templates/doc.md
  .gitlab/issue_templates/feature.md
  docs/docs/developer-documentation/local-environment.mdx
  docs/docs/introduction.md
  docs/docs/user-documentation/maintenance.mdx
  docs/i18n/fr/docusaurus-plugin-content-docs/current/developer-documentation/contributing.md
  docs/i18n/fr/docusaurus-plugin-content-docs/current/developer-documentation/local-environment.mdx
  docs/i18n/fr/docusaurus-plugin-content-docs/current/introduction.md
  docs/i18n/fr/docusaurus-plugin-content-docs/current/user-documentation/maintenance.mdx
  frontend/src/mediationForm/FormContainer.test.tsx
  frontend/src/setupTests.ts
Due: lint_and_unit_test, end_to_end, test_docs

i18n: translate the contributing and architecture documentation page, and add the translated strings for the documentation
  docs/docs/developer-documentation/architecture.md
  docs/docs/developer-documentation/contributing.md
  docs/docs/developer-documentation/local-environment.mdx
  docs/i18n/en/code.json
  docs/i18n/en/docusaurus-plugin-content-blog/options.json
  docs/i18n/en/docusaurus-plugin-content-docs/current.json
  docs/i18n/en/docusaurus-theme-classic/footer.json
  docs/i18n/en/docusaurus-theme-classic/navbar.json
  docs/i18n/fr/docusaurus-plugin-content-blog/options.json
  docs/i18n/fr/docusaurus-plugin-content-docs/current.json
  docs/i18n/fr/docusaurus-plugin-content-docs/current/developer-documentation/architecture.md
  docs/i18n/fr/docusaurus-plugin-content-docs/current/developer-documentation/contributing.md
  docs/i18n/fr/docusaurus-plugin-content-docs/current/developer-documentation/local-environment.mdx
Due: test_docs

i18n: translate the user documentation pages in french
  docs/docs/introduction.md
  docs/docs/user-documentation/deployement.mdx
  docs/docs/user-documentation/maintenance.mdx
  docs/i18n/en/code.json
  docs/i18n/fr/code.json
  docs/i18n/fr/docusaurus-plugin-content-docs/current/developer-documentation/local-environment.mdx
  docs/i18n/fr/docusaurus-plugin-content-docs/current/introduction.md
  docs/i18n/fr/docusaurus-plugin-content-docs/current/user-documentation/deployement.mdx
  docs/i18n/fr/docusaurus-plugin-content-docs/current/user-documentation/maintenance.mdx
  docs/src/components/HomepageFeatures.tsx
  docs/src/pages/index.tsx
Due: test_docs

a11y: enhance the homepage for page title, focus management, list usage, heading level, language selection text
  README.md
  docs/docusaurus.config.js
  docs/i18n/en/code.json
  docs/i18n/fr/code.json
  docs/src/components/HomepageFeatures.module.css
  docs/src/components/HomepageFeatures.tsx
  docs/src/css/custom.css
  docs/src/pages/index.tsx
Due: test_docs

a11y: add a search bar using lunrjs to the documentation
  README.md
  docs/.eslintrc.json
  docs/docs/introduction.md
  docs/docusaurus.config.js
  docs/i18n/en/code.json
  docs/i18n/fr/code.json
  docs/i18n/fr/docusaurus-plugin-content-docs/current/introduction.md
  docs/package.json
  docs/src/css/custom.css
  docs/src/theme/SearchBar/algolia.css
  docs/src/theme/SearchBar/index.tsx
  docs/src/theme/SearchBar/lib/DocSearch.js
  docs/src/theme/SearchBar/lib/lunar-search.js
  docs/src/theme/SearchBar/lib/templates.js
  docs/src/theme/SearchBar/lib/utils.js
  docs/src/theme/SearchBar/styles.css
  docs/yarn.lock
Due: test_docs

a11y: enhance the focus outline for tabs in documentation pages
  docs/src/css/custom.css
Due: test_docs

test: convert documentation search bar component to typescript
  docs/package.json
  docs/src/theme/SearchBar/lib/DocSearch.ts
  docs/src/theme/SearchBar/lib/lunar-search.ts
  docs/src/theme/SearchBar/lib/templates.ts
  docs/src/theme/SearchBar/lib/types.ts
  docs/yarn.lock
Due: test_docs

test: typescript migration phase 3.1: activate typescript strict property in tsconfig
  frontend/src/admin/AdminLayout.tsx
  frontend/src/admin/requestDetail/RequestDetail.tsx
  frontend/src/admin/requestDetail/TraceReports.tsx
  frontend/src/hooks/useSwrWithStorage.tsx
  frontend/src/mediationForm/FormNavigation.tsx
  frontend/src/mediationForm/ProblemDescription.tsx
  frontend/src/mediationForm/Recap.test.tsx
  frontend/src/mediationForm/StepsInitializer.tsx
  frontend/src/mediationForm/UserInfo.tsx
  frontend/src/mediationForm/updateAction.tsx
  frontend/src/users/account/UserDetails.tsx
  frontend/src/users/identification/Signup.tsx
  frontend/src/utils/adapterUtils.ts
  frontend/src/utils/formUtils.tsx
  frontend/tsconfig.json
Due: lint_and_unit_test, end_to_end

maint: upgrade frontend deps
  frontend/package.json
  frontend/yarn.lock
Due: lint_and_unit_test, end_to_end

test: typescript migration phase 3.2: activate noUnusedLocals, noImplicitReturns, stripInternal and forceConsistentCasingInFileNames in tsconfig
  frontend/src/AppWrapper.tsx
  frontend/src/forms/ConfirmationDialog.test.tsx
  frontend/src/forms/fields/FirstNameField.tsx
  frontend/src/forms/fields/LastNameField.tsx
  frontend/src/forms/fields/PhoneField.tsx
  frontend/src/mediationForm/FormContainer.tsx
  frontend/src/mediationForm/OrganizationInfo.test.tsx
  frontend/src/mediationForm/ProblemDescription.test.tsx
  frontend/src/mediationForm/Recap.test.tsx
  frontend/src/mediationForm/UserInfo.test.tsx
  frontend/src/mediationForm/fields/NavigationContextFields.tsx
  frontend/src/users/account/Account.test.tsx
  frontend/src/users/account/UserDetails.test.tsx
  frontend/src/users/identification/Login.test.tsx
  frontend/src/users/identification/Login.tsx
  frontend/src/users/mediations/UserMediation.test.tsx
  frontend/src/users/mediations/UserMediations.test.tsx
  frontend/src/users/password/PasswordResetConfirm.test.tsx
  frontend/src/users/password/PasswordResetConfirm.tsx
  frontend/src/users/password/PasswordResetRequest.test.tsx
  frontend/src/utils/formUtils.tsx
  frontend/tsconfig.json
Due: lint_and_unit_test, end_to_end

doc: features text and images in the documentation main page
  docs/i18n/en/code.json
  docs/i18n/fr/code.json
  docs/package.json
  docs/src/components/HomepageFeatures.module.css
  docs/src/components/HomepageFeatures.tsx
  docs/static/img/feature1.svg
  docs/static/img/feature2.svg
  docs/static/img/feature3.svg
  docs/static/img/undraw_docusaurus_mountain.svg
  docs/static/img/undraw_docusaurus_react.svg
  docs/static/img/undraw_docusaurus_tree.svg
  docs/yarn.lock
Due: test_docs

test: add a new command that runs end to end tests on docker production image - doesn't fully work yet
  .gitlab-ci.yml
  backend/config/settings/base.py
  backend/config/settings/local.py
  backend/requirements/base.txt
  backend/requirements/local.txt
  frontend/end_to_end/config/codecept_production.conf.js
  frontend/end_to_end/config/end_to_end_server_dvelopment.js
  frontend/end_to_end/config/end_to_end_server_production.js
  frontend/end_to_end/config/steps_file.js
  frontend/end_to_end/helpers/django_helper_production.js
  frontend/end_to_end/identification_test.js
  frontend/end_to_end/mediation_requests_test.js
  frontend/end_to_end/user_details_test.js
  frontend/package.json
  frontend/src/index.tsx
  merge_production_dotenvs_in_dotenv.py
  merge_production_dotenvs_in_dotenv.sh
  production.yml
  staging.yml
Due: lint_and_unit_test, end_to_end, test_docs

test: make the end to end tests on production fully work when run locally and in the ci
  docs/docs/developer-documentation/contributing.md
  docs/i18n/fr/docusaurus-plugin-content-docs/current/developer-documentation/contributing.md
  docs/i18n/fr/docusaurus-plugin-content-docs/current/user-documentation/deployement.mdx
  docs/i18n/fr/docusaurus-plugin-content-docs/current/user-documentation/maintenance.mdx
  docs/package.json
  docs/yarn.lock
  frontend/.gitignore
  frontend/end_to_end/config/codecept_production.conf.js
  frontend/end_to_end/config/end_to_end_server_production.js
Due: lint_and_unit_test, end_to_end, test_docs

test: enhance local run and remove secure cookies for end to end tests with production image
  .envs/production_template/.django
  backend/config/settings/production.py
  docs/docs/user-documentation/deployement.mdx
  docs/i18n/fr/docusaurus-plugin-content-docs/current/user-documentation/deployement.mdx
  frontend/end_to_end/config/end_to_end_server_production.js
Due: lint_and_unit_test, end_to_end, test_docs

test: convert end to end tests to typescript
  .gitlab-ci.yml
  docs/docs/developer-documentation/contributing.md
  docs/i18n/fr/docusaurus-plugin-content-docs/current/developer-documentation/contributing.md
  frontend/end_to_end/admin_mediation_requests_detail_test.ts
  frontend/end_to_end/admin_mediation_requests_list_test.ts
  frontend/end_to_end/config/codecept_development.conf.js
  frontend/end_to_end/config/codecept_production.conf.js
  frontend/end_to_end/config/steps.d.ts
  frontend/end_to_end/helpers/axe_helper.ts
  frontend/end_to_end/helpers/django_helper.js
  frontend/end_to_end/helpers/django_helper.ts
  frontend/end_to_end/helpers/django_helper_production.js
  frontend/end_to_end/helpers/django_helper_production.ts
  frontend/end_to_end/identification_test.ts
  frontend/end_to_end/mediation_requests_test.ts
  frontend/end_to_end/translation_test.ts
  frontend/end_to_end/tsconfig.json
  frontend/end_to_end/user_details_test.ts
  frontend/package.json
  frontend/yarn.lock
Due: lint_and_unit_test, end_to_end, test_docs

maint: avoid creating js files for end to end tests when running type check
  frontend/.gitignore
  frontend/end_to_end/admin_mediation_requests_detail_test.js
  frontend/end_to_end/admin_mediation_requests_list_test.js
  frontend/end_to_end/config/codecept_development.conf.js
  frontend/end_to_end/config/codecept_production.conf.js
  frontend/end_to_end/helpers/axe_helper.js
  frontend/end_to_end/helpers/django_helper.js
  frontend/end_to_end/helpers/django_helper_production.js
  frontend/end_to_end/identification_test.js
  frontend/end_to_end/mediation_requests_test.js
  frontend/end_to_end/tests/admin_mediation_requests_detail_test.ts
  frontend/end_to_end/tests/admin_mediation_requests_list_test.ts
  frontend/end_to_end/tests/identification_test.ts
  frontend/end_to_end/tests/mediation_requests_test.ts
  frontend/end_to_end/tests/translation_test.ts
  frontend/end_to_end/tests/user_details_test.ts
  frontend/end_to_end/translation_test.js
  frontend/end_to_end/tsconfig.json
  frontend/end_to_end/user_details_test.js
  frontend/package.json
Due: lint_and_unit_test, end_to_end

doc: fix a typo in the french translation of the main page of the documentation
  docs/i18n/fr/code.json
Due: test_docs

feat: in the react admin panel, display mediation requests sorted by request date, from the most recent to the oldest
  backend/connect_access/mediations/api.py
  backend/connect_access/mediations/management/commands/createmediationsfortest.py
  backend/connect_access/mediations/serializers.py
  backend/connect_access/mediations/tests/test_api.py
  backend/connect_access/mediations/tests/test_serializers.py
  frontend/src/testUtils.ts
  frontend/src/types/mediationRequest.ts
Due: lint_and_unit_test, end_to_end

fix: display the correct 'request_date' field for the mediation request creation date in the react admin panel
  frontend/src/App.test.tsx
  frontend/src/mediationRequests/MediationRequestsList.tsx
Due: lint_and_unit_test, end_to_end

maint: add a CSP policy in the HTTP header sent by Django, for local and production environments
  backend/config/settings/base.py
  backend/config/settings/local.py
  backend/config/settings/production.py
  backend/requirements/base.txt
Due: lint_and_unit_test, end_to_end

feat: add a way to log in an existing user without any password, by sending him a token by mail. This is only the backend side.
  backend/config/settings/base.py
  backend/config/urls.py
  backend/connect_access/users/templates/users/emails/passwordless_token_email.html
  backend/locale/fr/LC_MESSAGES/django.po
  backend/requirements/base.txt
Due: lint_and_unit_test, end_to_end

feat: add the passwordless login on frontend side
  frontend/end_to_end/config/steps_file.js
  frontend/end_to_end/tests/identification_test.ts
  frontend/src/App.test.tsx
  frontend/src/hooks/useGeneratePrefixedPath.tsx
  frontend/src/sass/pages/_login.scss
  frontend/src/testUtils.ts
  frontend/src/users/identification/IdentificationLayout.test.tsx
  frontend/src/users/identification/IdentificationLayout.tsx
  frontend/src/users/identification/Login.test.tsx
  frontend/src/users/identification/Login.tsx
  frontend/src/users/identification/LoginLogic.tsx
  frontend/src/users/identification/testUtils.tsx
Due: lint_and_unit_test, end_to_end

feat: enhance passwordless login behavior and translate texts
  frontend/src/locales/en/messages.po
  frontend/src/locales/fr/messages.po
  frontend/src/users/identification/Login.test.tsx
  frontend/src/users/identification/Login.tsx
  frontend/src/users/identification/LoginLogic.tsx
Due: lint_and_unit_test, end_to_end

a11y: RGAA 1.1: add a correct role and label to SVG images in the footer
  frontend/src/customerLayout/Footer.tsx
Due: lint_and_unit_test, end_to_end

a11y: RGAA 3.2: add a border around the two sponsor logos in the footer to make them perceivalble
  frontend/src/sass/layout/_footer.scss
Due: lint_and_unit_test, end_to_end

a11y: RGAA 7.5: add a role 'status' or 'alert' to the tag containing directly the status or alert text when displaying a snackbar
  frontend/src/forms/Snackbar.test.tsx
  frontend/src/forms/Snackbar.tsx
Due: lint_and_unit_test, end_to_end

style: do not underline footer links on hover and focus
  frontend/src/sass/layout/_footer.scss
Due: lint_and_unit_test, end_to_end

ux: enhance the passwordless login message indicating an email will be sent, by precising it is a 6-digit token
  frontend/src/locales/en/messages.po
  frontend/src/locales/fr/messages.po
  frontend/src/users/identification/Login.tsx
Due: lint_and_unit_test, end_to_end

Revert "a11y: RGAA 3.2: add a border around the two sponsor logos in the footer to make them perceivalble"
  frontend/src/sass/layout/_footer.scss
Due: lint_and_unit_test, end_to_end

a11y: RGAA 3.2: make sponsor logos more visible by making important parts that are not visible enough white
  frontend/src/images/buildSvg/ArrowLeft.tsx
  frontend/src/images/buildSvg/ArrowRight.tsx
  frontend/src/images/buildSvg/Dude.tsx
  frontend/src/images/buildSvg/Information.tsx
  frontend/src/images/buildSvg/LogoBpiFrance.tsx
  frontend/src/images/buildSvg/LogoRegionIleDeFrance.tsx
  frontend/src/images/svg/information.svg
  frontend/src/images/svg/logo_bpi_france.svg
  frontend/src/images/svg/logo_region_ile_de_france.svg
Due: lint_and_unit_test, end_to_end

a11y: make the accessibility technologies used select field scrollable horizontally (works on chrome but not on firefox)
  frontend/src/mediationForm/fields/AssitiveTechnologyFields.tsx
  frontend/src/sass/pages/_mediation-form-user.scss
Due: lint_and_unit_test, end_to_end

Path conditions:
  lint_and_unit_test: any of: .envs/**/*, backend/**/*, compose/**/*, frontend/**/*, .dockerignore, .gitlab-ci.yml, local.yml, merge_production_dotenvs_in_dotenv.py
  end_to_end: any of: .envs/**/*, backend/**/*, compose/**/*, frontend/**/*, .dockerignore, .gitlab-ci.yml, local.yml, merge_production_dotenvs_in_dotenv.py
  test_docs: any of: docs/**/*, .gitlab-ci.yml
