Repository Koena-SAS/connect-access: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint_and_unit_test, end_to_end, test_pages, pages

.gitlab-ci.yml:

stages:
  - lint_and_unit_test
  - end_to_end
  - deploy

variables:
  POSTGRES_USER: "connect_access"
  POSTGRES_PASSWORD: ""
  POSTGRES_DB: "test_connect_access"
  POSTGRES_HOST_AUTH_METHOD: trust
  CELERY_BROKER_URL: "redis://redis:6379/0"

.base-docker:
  only:
    changes:
      - .envs/**/*
      - backend/**/*
      - compose/**/*
      - frontend/**/*
      - .dockerignore
      - .gitlab-ci.yml
      - local.yml
      - merge_production_dotenvs_in_dotenv.py
  services:
    - docker:dind
  variables:
    # When using dind, it's wise to use the overlayfs driver for
    # improved performance:
    DOCKER_DRIVER: overlay2
    DOCKER_BUILDKIT: 1
    COMPOSE_DOCKER_CLI_BUILD: 1
  image: python:3.8
  image: docker/compose:latest
  before_script:
    # Debug information:
    - docker info && docker-compose --version

lint_and_unit_test:
  stage: lint_and_unit_test
  needs: []
  extends: .base-docker
  script:
    - cp -r .envs/local_template .envs/.local
    - docker-compose -f local.yml build --build-arg BUILDKIT_INLINE_CACHE=1
    - docker-compose -f local.yml run --rm -w /app/frontend django yarn install
    # Ensure celerybeat does not crash due to non-existent tables
    - docker-compose -f local.yml run --rm django python backend/manage.py migrate
    - docker-compose -f local.yml up -d

    # lint
    - docker-compose -f local.yml run django flake8 backend --config=backend/setup.cfg --max-complexity=10
    - docker-compose -f local.yml run -w /app/backend django mypy connect_access config --config=setup.cfg
    - docker-compose -f local.yml run -w /app/frontend django yarn lint
    - docker-compose -f local.yml run -w /app/frontend django yarn type-check
    - docker-compose -f local.yml run -w /app/frontend django yarn type-check:e2e

    # unit tests
    - docker-compose -f local.yml run django pytest backend/connect_access
    - docker-compose -f local.yml run -w /app/frontend django yarn test --watchAll=false --watch=false --ci

end_to_end:
  stage: end_to_end
  needs: [lint_and_unit_test]
  extends: .base-docker
  image: docker/compose:debian-1.29.2
  before_script:
    - echo 'deb http://deb.debian.org/debian buster main' >> /etc/apt/sources.list
    - apt-get update
    - apt-get install -y curl libegl1 libnss3 libxss1 libasound2 fonts-noto-color-emoji libatk1.0-0 libatk-bridge2.0-0 libxcomposite1 libcups2 libgtk-3-0
    - curl -sL https://deb.nodesource.com/setup_16.x | bash -
    - apt-get install nodejs -y
  script:
    # install Node.js packages
    - npm install -g pm2 yarn
    # create environment variables
    - cp -r .envs/production_template .envs/.production && cp -r .envs/production_template .envs/.staging
    # run end to end tests
    - cd frontend
    - yarn install
    - CI=1 yarn e2e:prod
  artifacts:
    paths:
      - frontend/end_to_end/output/
    when: on_failure
  when: manual

test_pages:
  stage: lint_and_unit_test
  image: node:16.13-bullseye
  script:
  - cd docs
  - yarn install
  - yarn lint
  - yarn type-check
  - yarn build
  only:
    changes:
      - docs/**/*
      - .gitlab-ci.yml

pages:
  stage: deploy
  image: node:16.13-bullseye
  script:
  - cd docs
  - yarn install
  - yarn build
  - mv ./build ../public
  artifacts:
    paths:
    - public
  only:
    refs:
      - master
    changes:
      - docs/**/*
      - .gitlab-ci.yml

fix: mixin import order
  backend/config/urls.py
  backend/connect_access/apps/configuration/admin.py
  backend/connect_access/apps/mediations/admin.py
  backend/connect_access/apps/mediations/trace_report/admin.py
  backend/connect_access/apps/users/abstract_models.py
  backend/connect_access/apps/users/admin.py
  backend/connect_access/core/admin.py
Due: lint_and_unit_test, end_to_end

update requirements
  backend/poetry.lock
  backend/pyproject.toml
  backend/requirements/base.txt
  backend/requirements/code_quality.txt
  backend/requirements/local.txt
  backend/requirements/production.txt
Due: lint_and_unit_test, end_to_end

fix: mypy errors
  backend/connect_access/apps/mediations/migrations/0001_initial.py
  backend/connect_access/apps/mediations/trace_report/migrations/0001_initial.py
  backend/connect_access/apps/users/tests/factories.py
Due: lint_and_unit_test, end_to_end

fix: compose files
  compose/local/django/Dockerfile
  compose/production/django/Dockerfile
  compose/production/django/celery/flower/start
  compose/production/django/celery/worker/start
Due: lint_and_unit_test, end_to_end

fix: change trace report app label to "mediations"
  backend/connect_access/apps/mediations/api.py
  backend/connect_access/apps/mediations/migrations/0002_tracereport.py
  backend/connect_access/apps/mediations/serializers.py
  backend/connect_access/apps/mediations/trace_report/abstract_models.py
  backend/connect_access/apps/mediations/trace_report/admin.py
  backend/connect_access/apps/mediations/trace_report/api.py
  backend/connect_access/apps/mediations/trace_report/management/commands/createtracereportsfortest.py
  backend/connect_access/apps/mediations/trace_report/management/commands/deletetracereports.py
  backend/connect_access/apps/mediations/trace_report/migrations/0002_delete_tracereport.py
  backend/connect_access/apps/mediations/trace_report/serializers.py
  backend/connect_access/apps/mediations/trace_report/tests/factories.py
  backend/connect_access/apps/mediations/trace_report/tests/test_api.py
  backend/connect_access/apps/mediations/trace_report/tests/test_commands.py
  backend/connect_access/apps/mediations/trace_report/tests/test_serializers.py
Due: lint_and_unit_test, end_to_end

fix test end_to_end
  .gitlab-ci.yml
Due: lint_and_unit_test, end_to_end, test_pages, pages

fix: update isort pre-commit hook to 5.12.0
  .pre-commit-config.yaml
Due: none
